
.sidebar{
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  width: 72px; 
  background-color: white;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
}

.sidebar-link img{
  height: 24px;
  margin-bottom: 7px;
}



.sidebar-link div{
  font-size: 10px;
}
@media (min-width: 1200px){
  .sidebar-link div{
    font-size: 14px;
  }
  .sidebar{
    width: 154px;
    display: block;
    padding-left: 12px;
    padding-right: 12px;

  }
  .sidebar-link{
    width: 150px;
    height: 40px;
    flex-direction: row;
    justify-content: left;
    margin-top: 10px;
    padding-left: 4px;
  }
  .sidebar-link div{
    font-size: 14px;
  }
  .sidebar img{
    margin-right: 12px;
    margin-top: 5px;
  }
  body{
    padding-left: 210px;
  }
}
