
.sidebar{
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  width: 72px; 
  background-color: white;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
}

.sidebar-link img{
  height: 24px;
  margin-bottom: 7px;
}



.sidebar-link div{
  font-family: Roboto, arial, sans-serif;
  font-size: 10px;
}
