.thumbnail1{
    width: 400px;
    /* height:200px; */
    /* height: 300px;    */
    /* border-width: 2px; */
    /* border-style:solid; */
    /* border-color: red; */
    border-radius: 20px;
    /* object-fit: cover; */
    /* object-fit: contain; */
    /* object-position: left; */
    cursor: pointer;
}
.search-bar{
    width: 200px;
    height: 20px;
    font-size: 16px;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 50px;
    margin-left: 12px;
}
