body {
  background-image: linear-gradient(to bottom, #751345, #983148, #b5524a, #cc764e, #dc9c58, #e8a35f, #f3aa65, #ffb16c, #ff9978, #ff8391, #ff75b2, #e474d4);
  padding-top: 100px;
  padding-bottom: 100px;
}

header {
  background: rgba(0, 5, 5, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
}


.content-1 {
  height: 300px;
  width: 600px;
  border: none;
  border-radius: 6px;
  /* background-color: rgba(227, 234, 227, 0.4); */
  background: rgba(23, 45, 44, 0.8);
  margin: 40px;
  padding: 10px 12px;
  box-shadow: 4px 4px 20px rgba(69, 98, 225, 0.2);
  transition: background-color 0s;
  }
.content-1:hover{
  box-shadow: 4px 4px 20px rgba(217, 236, 235, 0.3);
}

.content-2 {
  height: 200px;
  width: 400px;
  border: none;
  border-radius: 6px;
  background-color: rgba(249, 251, 251, 0.8);
  /* background-color: transparent; */
  margin: 40px;
  padding: 10px 12px;

}
.a {
  margin: 12px 12px;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

